/* Applying global variables */
:root {
  --shadow: 5px 5px 5px rgb(128, 124, 124);
  --light: #e5e5e5;
  --center: center;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #eae2d663;
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif
}

/* Making a sticky header */
header {
  display: flex;
  background: var(--light);
  padding: 10px;
  box-shadow: var(--shadow);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

header h1 {
  width: 100vw;
}

header nav {
  width: 90vw;
}

/* Moving the ul to the end of the flex-box */
header nav ul {
  display: flex;
  justify-content: flex-end;
}

li {
  padding: 5px;
}

header nav ul li a {
  text-decoration: none;
  color: black;
}

/* All the a tags while hover get background color and padding */
header nav ul li a:hover {
  background-color: blanchedalmond;
  padding: 5px;
}

/* Adding an image as the background to class hero */
.hero {
  height: 400px;
  width: 100%;
  background-image: url("../images/background-image.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: var(--shadow);
  position: relative;
}

.hero h2 {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--light);
  font-size: 1.9rem;
  padding: 10px;
  box-shadow: var(--shadow);

}

h2,
h4 {
  font-size: 2.2rem;
  text-align: var(--center);
  margin: 25px 0;
}

h2 {
  font-size: 2.7rem;
}

h3 {
  text-align: var(--center);
  font-size: 1.25rem;
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 1;
  color: black;
  background-color: var(--light);
  padding: 15px;
  /* border: 1px solid black; */
  box-shadow: 1px 2px 2px black;
}

/* Sets the size of the portrait */
#portrait {
  width: 200px;
  height: 200px;
  border-radius: 25%;
  box-shadow: var(--shadow);
  margin-bottom: 10px;
}

.about {
  margin: 15px;
  text-align: var(--center);
}

p {
  font-size: 1.1rem;
  line-height: 1.5;
}

/* Arranges work section in a row */
.row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card {
  margin: 15px;
  width: 65%;
  position: relative;
}

.card a {
  text-decoration: none;
  color: #6e6b6b
}

/* #first-project {
  width: 100%;
} */

/* Applying shadow and set image to be full size of card class */
.cardImage {
  margin:  auto;
  width: 100%;
  height: 500px;
  opacity: 0.7;
  box-shadow: 1px 2px 2px black;
}

.cardImage:hover {
  opacity: 1;
  box-shadow: var(--shadow);
}

.contact {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 15px;
}

/* All the a tags inside of the p element */
p a {
  text-decoration: none;
  color: black;
}

p a:hover {
  color: blue;
  font-size: 20px;
}

footer {
  margin-top: 15px;
  margin-bottom: auto;
  width: 100%;
  text-align: center;
  padding: 10px;
  background: var(--light);
}

/* Makes screen responsive at 667px and realigns items */
@media screen and (max-width: 667px) {
  .row {
    flex-wrap: wrap;
    justify-content: center;
  }

  /* Moves the ul under the h1 */
  header {
    flex-wrap: wrap;
    text-align: center;
  }

  header nav ul {
    justify-content: center;
  }

  /* Aligning the contact section into a column */
  .contact {
    flex-wrap: wrap;
    flex-direction: column;
  }
}